.container {
  width: 900px;
  margin: auto;
}

.logo img {
    width: 150px;
}

.nav ul {
    display: flex;
    gap: 10px;
    list-style: none;
}

.header {
    display: flex;
}

.sekolah{
    margin-left: 15px;
}

.home{
    background-color: aqua;
}

.galeri {
    background-color:chartreuse;
}

.jadwal {
    background-color: blueviolet;
}

.kegiatan {
    background-color: darkcyan;
}

.kontak {
    background-color: yellowgreen;
}

.sejarah {
    background-color: goldenrod;
}